<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <form [formGroup]="persona" (ngSubmit)="registrar()">
      <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT"></ion-input>
      <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre"></ion-input>
      <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha nacimiento"></ion-input>
      <ion-select formControlName="genero" label="Género" labelPlacement="stacked" cancelText="NO NO!">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
      <ion-button type="submit" size="block" color="warning">REGISTRAR</ion-button>
    </form>
    <!--esto es solo para hacer un test-->
    <p>{{persona.value | json}}</p>
    <p>{{persona.value.nombre}}</p>
  </ion-card>

</ion-content>
